.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding: 0.75rem;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 0.75rem;
      list-style: none;
    }
  }
}
