%btn {
	padding: 0.75rem;
	border-radius: 0.75rem;
	outline: none;
	cursor: pointer;
	border: none;
}

%alert {
	padding: 0.75rem;
	border-radius: 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

%input {
	padding: 0.75rem;
	border: none;
	outline: none;
}
