@import "./scss/utill/variable";
@import "./scss/utill/util";
@import "./scss/utill/function";
@import "./scss/utill/mixin";
@import "./scss/utill/partial";
@import "./scss/utill/buttons";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}